@import "../../Styles/variables.scss";

.faq-section {
  .faq-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 70%;
    margin: auto;
    padding: 50px;

    .faq-text {
      text-align: center;

      h3 {
        font-size: 1.75rem;
      }

      h1 {
        font-size: 2.75rem;
        margin-bottom: 1rem;
      }

      p {
        color: grey;
        font-size: 1.1rem;
      }
    }

    .faq-content {
      width: fit-content;
      // margin: auto;
      box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2);

      .question {
        width: 40rem;
        overflow-y: hidden;
        cursor: pointer;

        &-title {
          padding: 10px;
          font-size: 1.3rem;
        }
        &-answer {
          height: 0px;
          font-size: 1.1rem;
          color: grey;
          border-bottom: 1px solid rgb(224, 223, 223);

          transition: height 0.5s;
        }
      }

      .active {
        .question-title {
          background-color: $primaryColor;
          color: white;
          box-shadow: 0 10px 15px 0 rgba(0, 144, 233, 0.2);
        }

        .question-answer {
          height: 120px;
          padding: 15px;

          transition: height 0.5s;
        }
      }

      // @media (max-width: 900px) {
      //   margin: 0 150px;
      // }
    }

    @media (max-width: 600px) {
      .faq-content {
        .question {
          width: 100%;

          &-title {
            font-size: 1.1rem;
          }

          &-answer {
            font-size: 0.7rem;
          }
        }
      }
    }
  }
}
